<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SlaughterhouseMapper">

    <update id="updateByDate" parameterType="com.sky.entity.Slaughterhouse">
        UPDATE slaughterhouse
        SET kill_number = #{killNumber}
        WHERE DATE(time) = DATE(#{time})
    </update>

    <select id="existsByTime" resultType="int">
        SELECT COUNT(*) FROM slaughterhouse
        WHERE DATE(time) = DATE(#{time})
    </select>


    <insert id="insert" parameterType="com.sky.entity.Slaughterhouse">
        INSERT INTO slaughterhouse (kill_number, time)
        VALUES ( #{killNumber}, #{time})
    </insert>

    <delete id="deleteByDate" parameterType="java.lang.String">
        DELETE FROM slaughterhouse
        WHERE DATE_FORMAT(time, '%Y-%m-%d') = #{date}
    </delete>



    <select id="getTotalByDate" resultType="com.sky.entity.Slaughterhouse">
        SELECT
            kill_number
        FROM slaughterhouse
        WHERE time = #{today}
    </select>


    <select id="getTotalByDays" resultType="map">
        SELECT
        DATE(time) as date,
        IFNULL(SUM(kill_number), 0) as total
        FROM slaughterhouse
        WHERE DATE(time) IN
        <foreach item="date" collection="dates" open="(" separator="," close=")">
            #{date}
        </foreach>
        GROUP BY DATE(time)
    </select>



    <select id="getTotalByMonths" resultType="com.sky.entity.Slaughterhouse">
        SELECT id, kill_number, time
        FROM slaughterhouse
        WHERE DATE_FORMAT(time, '%Y-%m') IN
        <foreach collection="dates" item="date" open="(" separator="," close=")">
            DATE_FORMAT(#{date}, '%Y-%m')
        </foreach>
    </select>




</mapper>
